.logo-title{
  width: 27%;
  padding: 0%;
  height: 48px;
  font-size: unset;
  font-weight: bold;



}
.ion-color-main {
    --ion-color-base: rgb(144, 61, 96);
    --ion-color-base-rgb: 140, 140, 140;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 204, 34, 64;
    --ion-color-shade:  rgb(141, 33, 78);
    --ion-color-tint: rgb(143, 71, 101);
  }
  