<ion-header>
  <ion-toolbar>
      <ion-title> <ion-img class="logo-title" src="https://lh3.googleusercontent.com/HZNfOLpTg1c2LxRECaX8T-Ep4R94ahbyDmv48ay6DFCPEyj5gfp8Amgd8ZGsPeqkEuF8zpxsC-qSHEZcB8gXJDXm7eoYcv3Qzjg4N74k4diaxEQWULrWDp9Gc0XyE49OBBFRTgEns4jpR9Ql6owb9H_cyrhoAQDCbLm66Qc6Ul1JVXie5dTeEhmzovqNz3Y26TfLnaetRyy9RoTnyU7nnnV77S_6vr1K47Eh7pr5km6JDfjXQrX7Q4LPsG9NZNksEPNMGi79Nqq0o8SmqZ-LWIixAjb2Scd_Q4xrflWtKBqRVKK-x-cFVoLAZHxgFk9F_nKTm8ifBL89NnvV4C8rlL8mLpilCcC3UhLFIx0qkuN1uC8PHwRVozWO3o5T2Vo6VGtejhZZBrA_Z_urRlbwAj7ulODmldPrfItkQdB3rY0ZFnjw09yVE6qYWLYBde8TbIA5a84U3-cl-AEQZOUJmmhlHULprBN7EETwy6emaC0AIYaQOHyiNyMqyFMhxyiGuaiLIk7U4o-sK6N_Qfg4e7VzytJboBQYJXbSSfz88YjF2bwwfrMxqo9Ej1A3ziuGkUBDmsZd0yvi0GHINmQxCD2aFT1EGbKwV2161knGae33m2VoatRn5ANkNJPOxIcD6lA0WfIq2ILh_u427Q=w314-h104-no"></ion-img> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="post(f)">
  <h4 text-center style="font-family:cursive;">Cramspot helps to manage and monetize your unused rooms, offices and desks...</h4>    
  <br>
  <ion-item>
    <ion-label>Workspace Type</ion-label>
    <ion-select interface="popover" name="type" ngModel placeholder="Select One">
      <ion-select-option value="Coworking Space">Coworking Space</ion-select-option>
      <ion-select-option value="Corporate Office">Corporate Office</ion-select-option>
      <ion-select-option value="Startup Office">Startup Office</ion-select-option>
      <ion-select-option value="Empty Room">Empty Room</ion-select-option>
    </ion-select>
  </ion-item>

    <ion-grid style="padding:0%;">
      <ion-row>
        <ion-col size="5" style="padding:0%;"> 
          <ion-item>
            <ion-label>Rate:</ion-label>
            <ion-input type="number" name="rate" ngModel clearInput placeholder="300"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="7" style="padding:0%;"> 
            <ion-item>
                <ion-select name="rate_type" interface="popover" placeholder="/Hr">
                  <ion-select-option value="hour">Hour</ion-select-option>
                  <ion-select-option value="day">Day</ion-select-option>
                </ion-select>
              </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
   
    <ion-item>
      <ion-label >
        Capacity:
      </ion-label>
      <ion-input name="capacity" ngModel placeholder="5" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label >
        Amenities:
      </ion-label>
      <ion-input name="amenities" ngModel clearInput placeholder="(Computer, Wifi, books)"></ion-input>
    </ion-item>
    <ion-grid style="padding:0%;">
      <ion-row>
        <ion-col size="6" style="padding:0%;"> 
          <ion-item>
            <ion-label>Location:</ion-label>
            <ion-input name="location_no" ngModel  placeholder="Unit#." style="padding:0%;"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6" style="padding:0%;"> 
            <ion-item>
              <ion-input name="location_street" ngModel clearInput placeholder="Street"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" style="padding:0%;"> 
          <ion-item>
            <ion-input name="location_barangay" ngModel clearInput placeholder="Barangay" style="padding:0%;"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6" style="padding:0%;"> 
            <ion-item>
              <ion-input  clearInput placeholder="City"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="12" style="padding:0%;"> 
          <ion-item>
            <ion-input name="location_province" ngModel  clearInput placeholder="Province"></ion-input>
          </ion-item>
      </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label>Insert Image:</ion-label>
      <ion-input type="file"></ion-input>
    </ion-item>
    <br>
    <ion-button type="submit" color="main" expand="block"  shape="round">Post</ion-button>
    <p text-center>
      <a (click)="closeModal()" style="color: rgb(144, 61, 96); text-decoration: none">Cancel</a>
    </p> 
    
    
  </form>
</ion-content>
