<ion-header>
  <ion-toolbar>
    <ion-title><ion-img class="logo-title" src="https://lh3.googleusercontent.com/HZNfOLpTg1c2LxRECaX8T-Ep4R94ahbyDmv48ay6DFCPEyj5gfp8Amgd8ZGsPeqkEuF8zpxsC-qSHEZcB8gXJDXm7eoYcv3Qzjg4N74k4diaxEQWULrWDp9Gc0XyE49OBBFRTgEns4jpR9Ql6owb9H_cyrhoAQDCbLm66Qc6Ul1JVXie5dTeEhmzovqNz3Y26TfLnaetRyy9RoTnyU7nnnV77S_6vr1K47Eh7pr5km6JDfjXQrX7Q4LPsG9NZNksEPNMGi79Nqq0o8SmqZ-LWIixAjb2Scd_Q4xrflWtKBqRVKK-x-cFVoLAZHxgFk9F_nKTm8ifBL89NnvV4C8rlL8mLpilCcC3UhLFIx0qkuN1uC8PHwRVozWO3o5T2Vo6VGtejhZZBrA_Z_urRlbwAj7ulODmldPrfItkQdB3rY0ZFnjw09yVE6qYWLYBde8TbIA5a84U3-cl-AEQZOUJmmhlHULprBN7EETwy6emaC0AIYaQOHyiNyMqyFMhxyiGuaiLIk7U4o-sK6N_Qfg4e7VzytJboBQYJXbSSfz88YjF2bwwfrMxqo9Ej1A3ziuGkUBDmsZd0yvi0GHINmQxCD2aFT1EGbKwV2161knGae33m2VoatRn5ANkNJPOxIcD6lA0WfIq2ILh_u427Q=w314-h104-no"></ion-img></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card >
    <ion-textarea  placeholder="Post Something here..."></ion-textarea>
    <ion-button float-right type="submit" color="main" >Post</ion-button>

  </ion-card>
  <ion-card>
      <ion-item>
        <ion-avatar>
          <ion-img src="https://lumiere-a.akamaihd.net/v1/images/file_03162c1f.jpeg?width=1200&region=0%2C0%2C2000%2C2000&quality=8"></ion-img>
        </ion-avatar>
        <ion-label>Ver Legaspi</ion-label>
      </ion-item>
      <ion-card-content>
          Looking for workspace na may 5 chairs and table sa tapinac
      </ion-card-content>
      <ion-button color="mainBtn" expand="block"(click)="presentModal()" >Suggest</ion-button>
  </ion-card>
</ion-content>
