
.ion-color-main {
    --ion-color-base: rgb(144, 61, 96);
    --ion-color-base-rgb: 140, 140, 140;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 204, 34, 64;
    --ion-color-shade:  rgb(141, 33, 78);
    --ion-color-tint: rgb(143, 71, 101);
  }

  
  .ion-color-mainBtn {
    --ion-color-base: #ffffff;
    --ion-color-base-rgb: 204, 34, 64;
    --ion-color-contrast: rgb(144, 61, 96);;
    --ion-color-contrast-rgb: 116, 116, 116;
    --ion-color-shade:  rgb(241, 82, 149);
    --ion-color-tint: rgb(143, 71, 101);
  }
  .logo-title{
    margin-top: 40px;
    padding: 0%;
    height: 50px;
  
  }

  