
.ion-color-mainBtn {
    --ion-color-base: #ffffff;
    --ion-color-base-rgb: 204, 34, 64;
    --ion-color-contrast: rgb(144, 61, 96);;
    --ion-color-contrast-rgb: 116, 116, 116;
    --ion-color-shade:  rgb(241, 82, 149);
    --ion-color-tint: rgb(143, 71, 101);
  }
