<ion-header>
  <ion-toolbar>
    <ion-title><ion-img class="logo-title" src="assets/icon/cramspotlogo.png"></ion-img></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
        <ion-card-title>Profile</ion-card-title>
    </ion-card-header>
    <ion-avatar style="margin:auto;">
      <img src="https://cdn.iconscout.com/icon/free/png-256/avatar-369-456321.png">
    </ion-avatar>
    <ion-card-content text-center>
      <h4 text-center>Shane Royena</h4>
      <p text-center>royenashane@gmail.com</p>
      <ion-button color="main" href="/tabs/(home:home)" size="small">Edit Profile</ion-button>
    </ion-card-content>
    
  </ion-card>
    

    <ion-card>
      <ion-card-header>
        <ion-card-title>Rent workspace?</ion-card-title>
      </ion-card-header>
      <ion-img style="width:30%; margin:auto;" src="https://cdn2.iconfinder.com/data/icons/ourea-icons/256/Search_256x256-32.png"></ion-img>
      <ion-card-content text-center>
        <h2> Search the marketplace for your unique workspace...</h2>
        <ion-button color="main" href="/tabs/(home:home)"  size="small">Find a space</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card >
        <ion-card-header>
          <ion-card-title>Add your workspace</ion-card-title>
        </ion-card-header>
        <ion-img style="width:30%; margin:auto;" src="https://cdn1.iconfinder.com/data/icons/hawcons/32/699423-icon-45-note-list-512.png"></ion-img>
        <ion-card-content text-center>
          <h2> Rent out your space to mobile users by the hour or day.</h2>
          <ion-button color="main" href="/tabs/(home:home)" size="small">List your space</ion-button>
        </ion-card-content>
      </ion-card>
  
    

    

  
</ion-content>
