<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
          <ion-title>Spots</ion-title>
      </ion-col>
      <ion-col size="10">
          <ion-searchbar></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
    
</ion-header>

<ion-content padding>
  <ion-card>
      <ion-img src="http://www.tompetty.com/sites/g/files/g2000007521/f/styles/photo-carousel/public/sample001.jpg?itok=0Riiujkr"></ion-img>
      <ion-card-header>
          <ion-card-title>Hello World</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p>The content for this card</p>
      </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
