<ion-header>
    <ion-toolbar>
      <ion-title > <ion-img class="logo-title" src="assets/icon/cramspotlogo.png"></ion-img> </ion-title>
      <ion-searchbar class="searchbar" mode="ios" placeholder="Search Location"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

<ion-content >
  <ion-card *ngFor="let w of workspaces">
      <ion-img [src]="w.workspace_image"></ion-img>
      <ion-card-header>
          <ion-card-title>₱ <span>{{ w.rate }} / {{ w.rate_type }}</span></ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p>
            {{ w.type }} <br>
            <ion-icon name="ios-people"></ion-icon> {{ w.capacity }} people<br>
            <ion-icon name="ios-laptop"></ion-icon> {{ w.amenities }} <br>
            <ion-icon name="ios-pin"></ion-icon> {{ w.location_no }} {{w.location_street}}  {{ w.location_barangay }} {{w.location_city}} {{w.location_province}}
          </p>
          <ion-button color="main" size="small" fill="clear" (click)="checkAvailability(w.user_id,w.space_id)">check Availability</ion-button>
          
      </ion-card-content>
  </ion-card>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" >
  <ion-fab-button color="main" (click)="presentModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
